.betting-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
}

.chips-container {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

.bet-nums {
  display: flex;
  font-size: 14px;
  margin-top: 0px;
}

.current-bet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3px 0;
}

.total-chips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3px 0;
}



/*New above*/

/**//**//**/

/*Old unused below*/

/* .current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px;
}

.chips-container > button:hover {
  animation: color-btn 0.4s forwards;
}

.current > button:hover {
  animation: color-btn 0.4s forwards;
}

.container-1 {
  display: flex;
  flex-direction: column;
}

.container-1a {
  display: flex;
  margin-bottom: 20px;
}

.container-1b {
  display: flex;
  justify-content: center;
}

.container-1b > button:hover {
  animation: color-btn 0.4s forwards;
} */