.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hand-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.hand-container > * {
  margin: 10px 15px 0 15px;
}

.blank-container {
  display: flex;
}

.blank-container > * {
  margin: 10px 15px 0 15px;
}

.split-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.player-cards-container {
  display: flex;
}

.split-cards-container {
  display: flex;
}