.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hand-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.hand-container > * {
  margin: 10px 15px 0 15px;
}

.blank-container {
  display: flex;
}

.blank-container > * {
  margin: 10px 15px 0 15px;
}

/* .split-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
} */

.split-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-cards-container {
  display: flex;
}

.player-cards-container > * {
  margin: 10px 15px 0 15px;
}

.split-cards-container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
}

.split-cards-container > * {
  margin: 10px 15px 0 15px;
}

.split-totals-container {
  position: absolute;
  /* width: 600px; */
  left: 0;
  right: 0;
}

#split-total-left {
  align-self: center;
}

#split-total-right {
  align-self: center;
}

.split-total {
  display: flex;
  justify-content: space-evenly;
}

