.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
}

.buttons > * {
  margin: 10px 20px;
  width: 100px;
  height: 30px;
}

button {
  cursor: pointer;
}

.winner {
  font-size: 20px;
  margin: 2px;
}